<h1>Timeline</h1>
<!-- <form action='/write'method='post'> -->
    <%=form_tag '/write', method:'post' do%>
    <div class="form-group">
    <textarea name="naeyong" class="form-control" row="3"></textarea>
    </div>
    
    <div class="form-group">
    <input type="submit" class="btn btn-success">
    </div>
<% end %>
<ul>
    <% @blogs.each do |b| %>
    <li>
        <p class="bg-info"> <%= b.user.email %> : </p>
    <div class="well">
    <%= b.content %>
    </div>
    
        <%=form_tag '/comment', class: "form-inline" do %> <!-- form tag 보안 -->
        <input type="hidden" name="blog_id" value="<%=b.id%>"> <!-- 어느 글의 댓글인지? -->
        
        
        <div class ="form-group">
        <input type="text" name="comment" class="form-control">
            
        </div>
        <div class="form-group">
        <input type="submit" class="btn btn-primary">
        </div>
        <% end %>
        <%=form_tag '/rep', class: "form-inline" do %>
        <div class ="form-group">
        <input type="hidden" name="blog_id" value="<%=b.id%>">
        <input type="text" name="revpost" class="form-control" value="<%=b.content%>">
        </div>
        <div class="form-group">
        <button type="submit" class="btn btn-warning"> 수정 </button>
        </div>
        <% end %>
        <%=form_tag '/del', class: "form-inline" do %>
        <div class="form-group">
        <input type="hidden" name="blog_iid" value="<%=b.id%>">
        <button type="submit" class="btn btn-danger"> 삭제 </button>
        </div>
        <% end %>
        <ol>
        <% b.comments.each do |c| %>
        <li><%= c.user.email %> : <%=c.msg%>  </li>
        <%=form_tag '/comrep', class: "form-inline" do %>
        <div class ="form-group">
        <input type="hidden" name="comm_id" value="<%=c.id%>">
        <input type="text" name="revmsg" class="form-control" value="<%=c.msg%>">
        </div>
        <div class="form-group">
        <button type="submit" class="btn btn-warning"> 댓글수정 </button>
        </div>
        <% end %>
        <%=form_tag '/comdel', class: "form-inline" do %>
        <div class="form-group">
        <input type="hidden" name="comm_iid" value="<%=c.id%>">
        <button type="submit" class="btn btn-danger"> 댓글삭제 </button>
        </div>
        <% end %>
        <%end%>
        </ol>
    </li>
    <% end %>
</ul>

<% @blogs.each do |b| %>
    <li>
      <%= form_tag '/idpart' do %>
        <input type="hidden" name="sel_user" value="<%=b.id%>">
        <input type="submit" value=<%=b.user.email%>>
        <% end %>
    </li>
<% end %>